<%= simple_form_for(@pokedex) do |f| %>
  <% if @pokedex.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @pokedex.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-actions">
    <p><%= f.submit  "Create my Pokedex", class: "btn btn-primary" %></p>
  </div>
  <% end %>
  <p><%= link_to 'Cancel', pokedexes_path, class: "btn btn-info" %></p>

