
<div class= "container">
  <div class="d-flex justify-content-between align-items-center">
<h1><strong>#</strong><%=@pokedex.id%>. <%= @pokedex.name %></h1>
<div class="">
  <% if @pokedex.is_trainer?(current_user) %>
  <%= link_to 'Add Pokémons', pokemons_path, class: "btn btn-success" %>
  <% end %>
</div>
</div>
<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th scope="col">Type</th>
    <th scope="col">Location</th>  
    <th class ="text-center" scope="col">Height</th>
    <th class ="text-center" scope="col">Weight</th>
    <th class ="text-center" scope="col">Gotcha?</th>
  </tr>
</thead>
  <% @pokedex.pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
      <td><%=pokemon.type.name%></td>
      <td><%=pokemon.location%></td>
      <td class ="text-center"><%=pokemon.height%> m </td>
      <td class ="text-center"><%=pokemon.weight%> kg</td>
      <td class ="text-center" id="pokeball"><%= image_tag "logo.png", class:"embed-responsive-item"%>
      	</td>
    </tr>
  <%end%>
</table>

	<div class= "d-flex align-items-center">
		<p><%= link_to edit_trainer_pokedex_path(@pokedex.id), class: 'btn btn-primary' do %>
		<i class="fa fa-pencil"></i> Change Pokédex name<% end %></p>

		<p><%= link_to "Remove", pokedex_path(@pokedex.id), method: :delete, data: { confirm: "remove #{@pokedex.name}?" }, class: 'btn btn-danger'%></p>

		 <p><%= link_to 'Go Back', pokedexes_path, class: "btn btn-info" %></p>
	 </div>
</div>
