<div class= "container">



    <div class="d-flex justify-content-between align-items-center">
      <h1><strong>#</strong><%=@pokedex.id%>. <%= @pokedex.name %></h1>

      <h2 ><strong>Trainer: <%=@pokedex.user.username%></strong></h2>
    </div>

    <div class="d-flex justify-content-between">
      <h4 class= "mb-2"> Pokedex Power: <strong><%= @total_power %></strong> points</h4>

    </div>
    <div class="d-flex justify-content-between">
      <h4 class= "mt-2"> Number of Pokémons: <strong><%= @pokedex.pokemons.size %> Pokémons </strong></h4>
      <% if @pokedex.is_trainer?(current_user) %>
        <%= link_to 'Add more Pokémons', pokemons_path, class: "btn btn-info text-center" %>
      <% end %>
    </div>

    <table class="table sortable mt-2">
      <thead class="thead-dark"  id = "sticky-header">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pokemon</th>
        <th class ="text-center" scope="col">Type</th>
<!--     <th class ="text-center" scope="col">Height</th>
    <th class ="text-center" scope="col">Weight</th> -->
    <th class ="text-center" scope="col">Points</th>  
    <th class ="text-center" scope="col">Location</th>  
      <% if @pokedex.is_trainer?(current_user) %>
        <th class ="text-center" scope="col">Add to a Team</th>
      <% end %>
      </tr>
    </thead>
      <% @pokedex.pokemons.each do |pokemon| %>
        <tr>
          <th scope="row"><%=pokemon.id%></th>
          <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
          <% case pokemon.type.name %>
            <% when "bug" %>
              <td class ="text-center type-header" id = "bug-header">
            <% when "dark" %>
              <td class ="text-center type-header" id = "dark-header">
            <% when "dragon" %>
              <td class ="text-center type-header" id = "dragon-header">
            <% when "electric" %>
              <td class ="text-center type-header" id = "electric-header">
            <% when "fairy" %>
              <td class ="text-center type-header" id = "fairy-header">
            <% when "fighting" %>
              <td class ="text-center type-header" id = "fighting-header">
            <% when "fire" %>
              <td class ="text-center type-header" id = "fire-header">
            <% when "flying" %>
              <td class ="text-center type-header" id = "flying-header">
            <% when "ghost" %>
              <td class ="text-center type-header" id = "ghost-header">
            <% when "grass" %>
              <td class ="text-center type-header" id = "grass-header">
            <% when "ground" %>
              <td class ="text-center type-header" id = "ground-header">
            <% when "ice" %>
              <td class ="text-center type-header" id = "ice-header">
            <% when "normal" %>
              <td class ="text-center type-header" id = "normal-header">
            <% when "poison" %>
              <td class ="text-center type-header" id = "poison-header">
            <% when "psychic" %>
              <td class ="text-center type-header" id = "psychic-header">
            <% when "rock" %>
              <td class ="text-center type-header" id = "rock-header">
            <% when "steel" %>
              <td class ="text-center type-header" id = "steel-header">
            <% when "water" %>
              <td class ="text-center type-header" id = "water-header">
            <%else%>
              <td class ="text-center">
            <% end %>
            <%=link_to pokemon.type.name.capitalize, type_path(pokemon.type)%></td>
    <!--  <td class ="text-center"><%=(pokemon.height)%> m</td>
          <td class ="text-center"><%=(pokemon.weight)%> kg</td> -->
          <td class ="text-center"><%=pokemon.total%></td>
          <td class ="text-center"><%=pokemon.location%></td>
          <% if @pokedex.is_trainer?(current_user) && current_user.teams.any?%>
            <% if current_user.teams.first.pokemons.include?(pokemon)%>
              <td scope="col-3" class ="text-center"><%= "Team 1"%></td>
            <% else%>
              <td scope="col-3" class="text-center plus-column">
                  <%= link_to "+", trainer_team_pokemon_path(current_user.teams.first.id, pokemon.id), method: :post ,class:"btn btn-primary"%></td>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </table>




    <div class="mb-3">
      <% if @pokedex.is_trainer?(current_user) && current_user.teams.any?%>
        <%= link_to "See my Teams", trainer_pokedex_teams_path(@trainer), class: "nav-link btn outline-button" %>
      <%end%>
    </div>

    <div class="mb-2">
      <% if @pokedex.is_trainer?(current_user) && !current_user.teams.any?%>
        <%= link_to "Create My first Team now!", new_trainer_pokedex_team_path, class: "nav-link btn red-button large-button" %>
      <% elsif @pokedex.is_trainer?(current_user)%>
        <%= link_to "Create a new Team", new_trainer_pokedex_team_path, class: "nav-link btn outline-button" %>
      <%end%>
    </div> 

     <p ><%= link_to 'Go Back', pokedexes_path, class: "btn btn-info" %></p>
    <br>
</div>