
<div class= "container">

    <div class="d-flex justify-content-between align-items-center">
      <h1><strong>#</strong><%=@pokedex.id%>. <%= @pokedex.name %></h1>
      <% if @pokedex.is_trainer?(current_user) %>
      <h4 class= "text-center"> You have <strong><%= @pokedex.pokemons.size %> Pokémons </strong> in your Pokédex!</h4>
      <%= link_to 'Add more Pokémons', pokemons_path, class: "btn btn-success" %>
      <% end %>
    </div>


    <table class="table">
    	<thead class="thead-dark"  id = "sticky-header">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pokemon</th>
        <th scope="col">Type</th>
        <th scope="col">Location</th>  
        <th class ="text-center" scope="col">Height</th>
        <th class ="text-center" scope="col">Weight</th>
        <th class ="text-center" scope="col">Gotcha</th>
      </tr>
    </thead>
      <% @pokedex.pokemons.each do |pokemon| %>
        <tr>
          <th scope="row"><%=pokemon.id%></th>
          <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
          <td><%=pokemon.type.name%></td>
          <td><%=pokemon.location%></td>
          <td class ="text-center"><%=(pokemon.height)/10%> m </td>
          <td class ="text-center"><%=(pokemon.weight)/10%> kg</td>
          <td class ="text-center" id="pokeball"><%= image_tag "logo.png", class:"embed-responsive-item"%>
          	</td>
        </tr>
      <%end%>
    </table>

     <p><%= link_to 'Go Back', pokedexes_path, class: "btn btn-info" %></p>

</div>
