
<div class= "container">

<br>
	<% case @type.name %>
    <% when "bug" %>
      <h1 id = "bug-header">
    <% when "dark" %>
      <h1 id = "dark-header">
    <% when "dragon" %>
      <h1 id = "dragon-header">
    <% when "electric" %>
      <h1 id = "electric-header">
    <% when "fairy" %>
      <h1 id = "fairy-header">
    <% when "fighting" %>
      <h1 id = "fighting-header">
    <% when "fire" %>
      <h1 id = "fire-header">
    <% when "flying" %>
      <h1 id = "flying-header">
    <% when "ghost" %>
      <h1 id = "ghost-header">
    <% when "grass" %>
      <h1 id = "grass-header">
    <% when "ground" %>
      <h1 id = "ground-header">
    <% when "ice" %>
      <h1 id = "ice-header">
    <% when "normal" %>
      <h1 id = "normal-header">
    <% when "poison" %>
      <h1 id = "poison-header">
    <% when "psychic" %>
      <h1 id = "psychic-header">
    <% when "rock" %>
      <h1 id = "rock-header">
    <% when "steel" %>
      <h1 id = "steel-header">
    <% when "water" %>
      <h1 id = "water-header">
    <%else%>
      <h1>
    <% end %>
    <strong>#</strong><%=@type.id%>. <%= @type.name.capitalize %></h1>

<br>


<table class="table">
    <tbody>
        <tr>
          <th>Number of Pokemons</th>
            <td><%=@type.pokemons.size%></td>
        </tr>
        <tr>
          <th>Number of Moves</th>
            <td><%=@type.attacks.size%></td>
        </tr>
    </tbody>
</table>

<% if @type.pokemons.any? %>

	<h2>Pokémons</h2>

	<table class="table">
	    <% case @type.name %>
		<% when "bug" %>
		  <thead class="thead" id = "bug-header">
		<% when "dark" %>
		  <thead class="thead" id = "dark-header">
		<% when "dragon" %>
		  <thead class="thead" id = "dragon-header">
		<% when "electric" %>
		  <thead class="thead" id = "electric-header">
		<% when "fairy" %>
		  <thead class="thead" id = "fairy-header">
		<% when "fighting" %>
		  <thead class="thead" id = "fighting-header">
		<% when "fire" %>
		  <thead class="thead" id = "fire-header">
		<% when "flying" %>
		  <thead class="thead" id = "flying-header">
		<% when "ghost" %>
		  <thead class="thead" id = "ghost-header">
		<% when "grass" %>
		  <thead class="thead" id = "grass-header">
		<% when "ground" %>
		  <thead class="thead" id = "ground-header">
		<% when "ice" %>
		  <thead class="thead" id = "ice-header">
		<% when "normal" %>
		  <thead class="thead" id = "normal-header">
		<% when "poison" %>
		  <thead class="thead" id = "poison-header">
		<% when "psychic" %>
		  <thead class="thead" id = "psychic-header">
		<% when "rock" %>
		  <thead class="thead" id = "rock-header">
		<% when "steel" %>
		  <thead class="thead" id = "steel-header">
		<% when "water" %>
		  <thead class="thead" id = "water-header">
		<%else%>
		  <thead class="thead-black">
		<% end %>	  
	    <tr>
	    <th scope="col">#</th>
	    <th scope="col">Pokemon</th>
	    <th scope="col">Type</th>
	    <th scope="col">Location</th>  
	    <th class ="text-center" scope="col">Height</th>
	    <th class ="text-center" scope="col">Weight</th>
	    <% if user_signed_in? && current_user.pokedex.present?%>
	    <th class ="text-center" scope="col">Add to my Pokédex</th>
	     <% end %>
		 </tr>
	</thead>
	  <% @type.pokemons.each do |pokemon| %>
	    <tr>
	      <th scope="row"><%=pokemon.id%></th>
	      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
	      <td><%=pokemon.type.name%></td>
	      <td><%=pokemon.location%></td>
	      <td class ="text-center"><%=(pokemon.height)/10%> m</td>
	      <td class ="text-center"><%=(pokemon.weight)/10%> kg</td>

	      <% if user_signed_in? && current_user.pokedex.present?%>
	        <% if current_user.pokedex.pokemons.include?(pokemon)%>
	          <td scope="col-3" class ="text-center" id="pokeball"><%= image_tag "logo.png", class:"embed-responsive-item"%></td>
	        <% else%>
	          <td scope="col-3" class="text-center plus-column">
	              <%= link_to "+", trainer_pokedex_pokemon_path(current_user.pokedex.id, pokemon.id), method: :post ,class:"btn btn-success"%></td>
	        <%end%>
	      <%end%>
	    </tr>
	  <%end%>
	</table>

<% end %>

<% if @type.attacks.any? %>

	<h2>Moves</h2>

	<table class="table">

	    <% case @type.name %>
		<% when "bug" %>
		  <thead class="thead" id = "bug-header">
		<% when "dark" %>
		  <thead class="thead" id = "dark-header">
		<% when "dragon" %>
		  <thead class="thead" id = "dragon-header">
		<% when "electric" %>
		  <thead class="thead" id = "electric-header">
		<% when "fairy" %>
		  <thead class="thead" id = "fairy-header">
		<% when "fighting" %>
		  <thead class="thead" id = "fighting-header">
		<% when "fire" %>
		  <thead class="thead" id = "fire-header">
		<% when "flying" %>
		  <thead class="thead" id = "flying-header">
		<% when "ghost" %>
		  <thead class="thead" id = "ghost-header">
		<% when "grass" %>
		  <thead class="thead" id = "grass-header">
		<% when "ground" %>
		  <thead class="thead" id = "ground-header">
		<% when "ice" %>
		  <thead class="thead" id = "ice-header">
		<% when "normal" %>
		  <thead class="thead" id = "normal-header">
		<% when "poison" %>
		  <thead class="thead" id = "poison-header">
		<% when "psychic" %>
		  <thead class="thead" id = "psychic-header">
		<% when "rock" %>
		  <thead class="thead" id = "rock-header">
		<% when "steel" %>
		  <thead class="thead" id = "steel-header">
		<% when "water" %>
		  <thead class="thead" id = "water-header">
		<%else%>
		  <thead class="thead-black">
		<% end %>		  
		<tr>
		    <th scope="col">#</th>
		    <th scope="col">Name</th>
		    <th scope="col">Type</th>
		    <th class ="text-center" scope="col">Power</th>  
		    <th class ="text-center" scope="col">Accuracy</th>
		    <th class ="text-center" scope="col">PP</th>
		  </tr>
		</thead>
		  <% @type.attacks.each do |attack| %>
		    <tr>
		      <th scope="row"><%=attack.id%></th>
		      <td><%= link_to attack.name, attack_path(attack.id) %></td>
		      <td><%=attack.type.name%></td>
		      <td class ="text-center"><strong><%=attack.power%></strong></td>
		      <td class ="text-center"><%=attack.precision%></td>
		      <td class ="text-center"><%=attack.power_point%></td>
		    </tr>
		  <%end%>
	</table>

<% end %>


		 <p><%= link_to 'Go Back', types_path, class: "btn btn-info" %></p>
	 <br>
</div>


