<div class = "container">
<div class="d-flex justify-content-between">
	<h1 style="color:red">My Pokédex</h1>
	<p id = "add-button"><%= link_to pokemons_path do %>
	  <i class="fa fa-plus"></i> Add a new pokemon to my Pokédex
		<% end %>
	</p>
</div>
<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th scope="col">Type</th>
    <th scope="col">Location</th>  
    <th scope="col">Height</th>
    <th scope="col">Weight</th>
    <th scope="col">Gotcha!</th>
  </tr>
</thead>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
      <td><%=pokemon.type.name%></td>
      <td><%=pokemon.location%></td>
      <td ><%=pokemon.height%> m </td>
      <td ><%=pokemon.weight%> kg</td>
      <td ><%= image_tag "logo.png"%></td>
    </tr>
  <%end%>
</table>

</div>