<div class="container">

<h1>Profile Page</h1>


<table class="table">
    <tbody>


    	<tr>
    	  <th>Avatar</th>
    	    <td>
	    	  <% if current_user.avatar.present? %>
			<%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: 'font-size:30px;cursor:pointer'%>
	    	<% else %>
	    	  <%= image_tag "pika.jpg", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: 'font-size:30px;cursor:pointer' %>
	    	  <% end %>
    	  	</td>
    	</tr>

        <tr>
          <th>Username</th>
            <td><%= @user.username %></td>
        </tr>
        <tr>
          <th>email</th>
            <td><%= @user.email %></td>
        </tr>
        <% if user_signed_in? && current_user.pokedex.present?%>
        <tr>
          <th>Pokedex</th>
            <td><%=@user.pokedex.name%></td>
        </tr>
        <%end%>
    </tbody>
</table>


<p><%= link_to "Edit my Profile",edit_user_registration_path, class:"btn btn-primary" %></p>


<p><%= link_to "Delete my account", user_registration_path, class:"btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>