

<div id="banner-home">

<div class="container" id="container-banner">


	<div class= "d-flex">
		
		<div class="text-center" id="sacha-home"><%= image_tag 'sacha.png', id:"sacha" %></div>	
	    	
		<div class="text-center" id="search-home">

			<h1 >Welcome to PokéMaster!</h1>

		    <div class="d-flex align-items-center justify-content-center text-center" style="margin: 20px 0 20px 0">

		      <div class="search-bar">
		        <%= form_tag pokemons_path, method: :get do %>
		          <%= text_field_tag :query,
		            params[:query],
		            class: "form-control",
		            placeholder: "Search for a pokémon, type, location, etc.."
		          %>
		      </div>

		      <div>
		        <%= submit_tag "Gotcha!", class: "btn btn-info" %>
		      </div>
		      <% end %>
		    </div>	

		    	<p class="text-center" id="or">Or</p>

		    <div id="pokedex-button"><p><%= link_to "Start Your Pokedex", new_pokedex_path, class: "text-center btn second-button big-button" %></p></div>


		 </div>
	</div>
</div>
</div>

<div class= "section">
<!-- 		<h2 > Find the right Pokémon, Type or Move for your Team! </h2>
 -->
<div class="container-home">


 	 <%= link_to pokemons_path do%>
		<div class="card-home" id="card1">
			<h3>Pokémons</h3>
		    <div class="card-category" id="cards-pokemons" style="background-image: url(https://cdn.custom-cursor.com/collections/pokemon.png)">
		    </div>
		</div>
	<% end %>

	<%= link_to attacks_path do%>
		<div class="card-home" id="card2">
			<h3>Moves</h3>
		    <div class="card-category" style="background-image: url(https://fsmedia.imgix.net/b2/31/c6/1a/e1a1/4793/bb33/0c9952f4a516/swshsirfetchdpng.png?auto=format%2Ccompress&dpr=2&w=650)">
		    </div>
		</div>
	<% end %>

	<%= link_to types_path do%>
		<div class="card-home" id="card3">
			<h3>Types</h3>
		    <div class="card-category" style="background-image: url(https://i.pinimg.com/originals/51/75/e5/5175e5d17f6a1b5dafc30a803be61834.png)">
		    </div>
		</div>
	<% end %>

	</div>
	<br>
</div>
</div>