<div class = "container">
<div class="d-flex justify-content-between">
	<h1 style="color:red">All the Pokémons</h1>
	<p id = "add-button"><%= link_to new_pokemon_path do %>
	  <i class="fa fa-plus"></i> Add a new pokemon
		<% end %>
	</p>
</div>
<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th scope="col">Type</th>
    <th scope="col">Location</th>  
    <th scope="col">Height</th>
    <th scope="col">Weight</th>
    <th scope="col">Add to my Pokédex</th>
  </tr>
</thead>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
      <td><%=pokemon.type.name%></td>
      <td><%=pokemon.location%></td>
      <td ><%=pokemon.height%> m </td>
      <td ><%=pokemon.weight%> kg</td>
      <td >
      <div class="checkbox">
        <%= form_for(pokemon) do |f| %>

        <label>
          <%= f.check_box :caught %> caught
        </label>

           <% end %>
<!-- 
      <% if pokemon.caught %>
        <%= image_tag "logo.png"%></i>
      <% else %>
        <%= "➕" %> 
      <% end %>
      </div> -->
      	</td>
    </tr>
  <%end%>
</table>

</div>