<div class = "container">
<div class="d-flex justify-content-between">
	<h1 >All the Pokémons</h1>
	<p id = "add-button"><%= link_to new_pokemon_path do %>
	  <i class="fa fa-plus"></i> Add a new pokemon
		<% end %>
	</p>
</div>
<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th scope="col">Type</th>
    <th scope="col">Location</th>  
    <th class ="text-center" scope="col">Height</th>
    <th class ="text-center" scope="col">Weight</th>
    <th class ="text-center" scope="col">Add to my Pokédex</th>
  </tr>
</thead>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
      <td><%=pokemon.type.name%></td>
      <td><%=pokemon.location%></td>
      <td class ="text-center"><%=pokemon.height%> m </td>
      <td class ="text-center"><%=pokemon.weight%> kg</td>
      <td class ="text-center" id="pokeball"><%= image_tag "logo.png", class:"embed-responsive-item"%></td>
    </tr>
  <%end%>
</table>

</div>