<div class = "container">
<div class="text-center">

  <h1>Pokémons Index</h1>

</div>
  <div class="d-flex justify-content-center">
    <div class="search-bar">
      <%= form_tag pokemons_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a pokémon, type, location, etc.."
        %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
      <div class="ml-2">
        <%= form_tag pokemons_path, method: :get do %>
        <%= submit_tag "All the Pokémons", class: "btn btn-info"%>
    <% end %>
    </div>

  </div>
  <br>


<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th scope="col">Type</th>
    <th scope="col">Location</th>  
    <th class ="text-center" scope="col">Height</th>
    <th class ="text-center" scope="col">Weight</th>
    <th class ="text-center" scope="col">Add to my Pokédex</th>
  </tr>
</thead>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
      <td><%=pokemon.type.name%></td>
      <td><%=pokemon.location%></td>
      <td class ="text-center"><%=pokemon.height%> m</td>
      <td class ="text-center"><%=pokemon.weight%> kg</td>
      <td scope="col-3" class="text-center plus-column"><%= link_to "+", pokemons_path, method: :post ,class:"btn btn-success"%></td>
    </tr>
  <%end%>
</table>
<!--   <div class="text-center"> -->
  <p id = "add-button"><%= link_to new_pokemon_path do %>
    <i class="fa fa-plus"></i> Add a new pokemon
    <% end %>
  </p>
<!--   </div> -->
<br>
</div>