<div class = "container">
<div class="text-center">

  <h1>Pokémons Index</h1>

</div>
  <div class="d-flex justify-content-center">
    <div class="search-bar">
      <%= form_tag pokemons_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a pokémon, type, location, etc.."
        %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
      <div class="ml-2">
        <%= form_tag pokemons_path, method: :get do %>
        <%= submit_tag "All the Pokémons", class: "btn btn-info"%>
    <% end %>
    </div>

  </div>
  <br>


<table class="table">
	<thead class="thead-dark"  id = "sticky-header">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pokemon</th>
    <th class ="text-center" scope="col">Type</th>
    <th class ="text-center" scope="col">Location</th>  
    <th class ="text-center" scope="col">Height</th>
    <th class ="text-center" scope="col">Weight</th>
    <% if user_signed_in? && current_user.pokedex.present?%>
    <th class ="text-center" scope="col">Add to my Pokédex</th>
      <% end %>

  </tr>
</thead>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <th scope="row"><%=pokemon.id%></th>
      <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
        <% case pokemon.type.name %>
          <% when "bug" %>
            <td class ="text-center type-header" id = "bug-header">
          <% when "dark" %>
            <td class ="text-center type-header" id = "dark-header">
          <% when "dragon" %>
            <td class ="text-center type-header" id = "dragon-header">
          <% when "electric" %>
            <td class ="text-center type-header" id = "electric-header">
          <% when "fairy" %>
            <td class ="text-center type-header" id = "fairy-header">
          <% when "fighting" %>
            <td class ="text-center type-header" id = "fighting-header">
          <% when "fire" %>
            <td class ="text-center type-header" id = "fire-header">
          <% when "flying" %>
            <td class ="text-center type-header" id = "flying-header">
          <% when "ghost" %>
            <td class ="text-center type-header" id = "ghost-header">
          <% when "grass" %>
            <td class ="text-center type-header" id = "grass-header">
          <% when "ground" %>
            <td class ="text-center type-header" id = "ground-header">
          <% when "ice" %>
            <td class ="text-center type-header" id = "ice-header">
          <% when "normal" %>
            <td class ="text-center type-header" id = "normal-header">
          <% when "poison" %>
            <td class ="text-center type-header" id = "poison-header">
          <% when "psychic" %>
            <td class ="text-center type-header" id = "psychic-header">
          <% when "rock" %>
            <td class ="text-center type-header" id = "rock-header">
          <% when "steel" %>
            <td class ="text-center type-header" id = "steel-header">
          <% when "water" %>
            <td class ="text-center type-header" id = "water-header">
          <%else%>
            <td class ="text-center">
          <% end %>
      <%=pokemon.type.name.capitalize%></td>
      <td class ="text-center"><%=pokemon.location%></td>
      <td class ="text-center"><%=(pokemon.height)/10%> m</td>
      <td class ="text-center"><%=(pokemon.weight)/10%> kg</td>

      <% if user_signed_in? && current_user.pokedex.present?%>
        <% if current_user.pokedex.pokemons.include?(pokemon)%>
          <td scope="col-3" class ="text-center" id="pokeball"><%= image_tag "logo.png", class:"embed-responsive-item"%></td>
        <% else%>
          <td scope="col-3" class="text-center plus-column">
              <%= link_to "+", trainer_pokedex_pokemon_path(current_user.pokedex.id, pokemon.id), method: :post ,class:"btn btn-success"%></td>
        <%end%>
      <%end%>
    </tr>
  <%end%>
</table>
<!--   <div class="text-center"> -->
  <p id = "add-button"><%= link_to new_pokemon_path do %>
    <i class="fa fa-plus"></i> Create a new pokemon
    <% end %>
  </p>
<!--   </div> -->
<br>
</div>