
<div class= "container">
<br>

    <% case @pokemon.type.name %>
    <% when "bug" %>
      <div class= "d-flex justify-content-between" id = "bug-header">
    <% when "dark" %>
      <div class= "d-flex justify-content-between" id = "dark-header">
    <% when "dragon" %>
      <div class= "d-flex justify-content-between" id = "dragon-header">
    <% when "electric" %>
      <div class= "d-flex justify-content-between" id = "electric-header">
    <% when "fairy" %>
      <div class= "d-flex justify-content-between" id = "fairy-header">
    <% when "fighting" %>
      <div class= "d-flex justify-content-between" id = "fighting-header">
    <% when "fire" %>
      <div class= "d-flex justify-content-between" id = "fire-header">
    <% when "flying" %>
      <div class= "d-flex justify-content-between" id = "flying-header">
    <% when "ghost" %>
      <div class= "d-flex justify-content-between" id = "ghost-header">
    <% when "grass" %>
      <div class= "d-flex justify-content-between" id = "grass-header">
    <% when "ground" %>
      <div class= "d-flex justify-content-between" id = "ground-header">
    <% when "ice" %>
      <div class= "d-flex justify-content-between" id = "ice-header">
    <% when "normal" %>
      <div class= "d-flex justify-content-between" id = "normal-header">
    <% when "poison" %>
      <div class= "d-flex justify-content-between" id = "poison-header">
    <% when "psychic" %>
      <div class= "d-flex justify-content-between" id = "psychic-header">
    <% when "rock" %>
      <div class= "d-flex justify-content-between" id = "rock-header">
    <% when "steel" %>
      <div class= "d-flex justify-content-between" id = "steel-header">
    <% when "water" %>
      <div class= "d-flex justify-content-between" id = "water-header">
    <%else%>
      <div class= "d-flex justify-content-between">
    <% end %>

    <h1 style="color:white"><strong>#</strong><%=@pokemon.id%>. <%= @pokemon.name %></h1>
    <div class= "d-flex align-items-center mr-4 mt-3">
        <% if user_signed_in? && current_user.pokedex.present?%>
         <% if current_user.pokedex.pokemons.include?(@pokemon)%>
           <p class="text-center"><%= link_to "Add #{@pokemon.name} to my Teams", pokemons_path, class: "btn bg-white round" %></p>
        <% else %>
          <p class="text-center"><%= link_to "Add #{@pokemon.name} to my Pokédex",trainer_pokedex_pokemon_path(current_user.pokedex.id, @pokemon), method: :post, class: "btn bg-white round" %></p>
        <% end %>
       <%end%>
    </div>

  </div>

<table class="table">
    <tbody>
        <tr>
          <th>Type</th>
            <td><%=@pokemon.type.name.capitalize %></td>
        </tr>
        <tr>
          <th>Location</th>
            <td><%=@pokemon.location%></td>
        </tr>
        <tr>
          <th>Height</th>
            <td><%=(@pokemon.height)/10%> m </td>
        </tr>
        <tr>
          <th>Weight</th>
            <td><%=(@pokemon.weight)/10%> kg </td>
        </tr>
          <th>Evolution</th>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<br>
<div>

<% if @pokemon.type.attacks.any? %>

<h3>All <%= @pokemon.type.name.capitalize %> Moves</h3>

  <table class="table">

    <% case @pokemon.type.name %>
<% when "bug" %>
  <thead class="thead type-header" id = "bug-header">
<% when "dark" %>
  <thead class="thead type-header" id = "dark-header">
<% when "dragon" %>
  <thead class="thead type-header" id = "dragon-header">
<% when "electric" %>
  <thead class="thead type-header" id = "electric-header">
<% when "fairy" %>
  <thead class="thead type-header" id = "fairy-header">
<% when "fighting" %>
  <thead class="thead type-header" id = "fighting-header">
<% when "fire" %>
  <thead class="thead type-header" id = "fire-header">
<% when "flying" %>
  <thead class="thead type-header" id = "flying-header">
<% when "ghost" %>
  <thead class="thead type-header" id = "ghost-header">
<% when "grass" %>
  <thead class="thead type-header" id = "grass-header">
<% when "ground" %>
  <thead class="thead type-header" id = "ground-header">
<% when "ice" %>
  <thead class="thead type-header" id = "ice-header">
<% when "normal" %>
  <thead class="thead type-header" id = "normal-header">
<% when "poison" %>
  <thead class="thead type-header" id = "poison-header">
<% when "psychic" %>
  <thead class="thead type-header" id = "psychic-header">
<% when "rock" %>
  <thead class="thead type-header" id = "rock-header">
<% when "steel" %>
  <thead class="thead type-header" id = "steel-header">
<% when "water" %>
  <thead class="thead type-header" id = "water-header">
<%else%>
    <thead class="thead-black">
<% end %>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th class ="text-center" scope="col">Power</th>  
        <th class ="text-center" scope="col">Accuracy</th>
        <th class ="text-center" scope="col">PP</th>
      </tr>
    </thead>
      <% @pokemon.type.attacks.each do |attack| %>
        <tr>
          <th scope="row"><%=attack.id%></th>
          <td><%= link_to attack.name, attack_path(attack.id) %></td>
          <td><%=attack.type.name.capitalize%></td>
          <td class ="text-center"><strong><%=attack.power%></strong></td>
          <td class ="text-center"><%=attack.precision%></td>
          <td class ="text-center"><%=attack.power_point%></td>
        </tr>
      <%end%>
  </table>

<% end %>
</div>

		 <p><%= link_to 'Go Back', pokemons_path, class: "btn btn-info" %></p>
     <br>
<!-- 	 </div>
 --></div>

