
<div class= "container">
<h1><strong>#</strong><%=@pokemon.id%>. <%= @pokemon.name %></h1>


<table class="table">
    <tbody>
        <tr>
          <th>Type</th>
            <td><%=@pokemon.type.name%></td>
        </tr>
        <tr>
          <th>Location</th>
            <td><%=@pokemon.location%></td>
        </tr>
        <tr>
          <th>Height</th>
            <td><%=@pokemon.height%> m </td>
        </tr>
        <tr>
          <th>Weight</th>
            <td><%=@pokemon.weight%> kg </td>
        </tr>
          <th>Evolution</th>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
<div class= "d-flex align-items-center">


    <% if user_signed_in? && current_user.pokedex.present?%>
   <p class="text-center"><%= link_to "Add #{@pokemon.name} to my Pokédex",trainer_pokedex_pokemon_path(current_user.pokedex.id, @pokemon), method: :post, class: "btn btn-primary" %></p>
   <p class="text-center"><%= link_to "Add #{@pokemon.name} to my Teams", pokemons_path, class: "btn btn-info" %></p>
   <%end%>
</div>
	<!-- <div class= "d-flex align-items-center">
		<p><%= link_to edit_pokemon_path(@pokemon.id), class: 'btn btn-primary' do %>
		<i class="fa fa-pencil"></i> Edit<% end %></p>

		<p><%= link_to "Remove", pokemon_path(@pokemon.id), method: :delete, data: { confirm: "remove #{@pokemon.name}?" }, class: 'btn btn-danger'%></p> -->

		 <p><%= link_to 'Go Back', pokemons_path, class: "btn btn-info" %></p>
<!-- 	 </div>
 --></div>

